@{
    ViewData["Title"] = "Política de Privacidade";
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - WebPerifaZenda</title>
    <link rel="stylesheet" href="~/css/privacy.css">
</head>
<body>

    <header>
        <h1>@ViewData["Title"]</h1>
    </header>

    <article>
        <p><strong>Última atualização:</strong>09/11/2024)</p>

        <h2>1. Informações que Coletamos</h2>
        <p>Coletamos diferentes tipos de informações quando você interage com nosso site, incluindo:</p>
        <ul>
            <li><strong>Informações Pessoais</strong>: Nome, e-mail, endereço IP, número de telefone, informações de pagamento.</li>
        </ul>

        <h2>2. Como Usamos suas Informações</h2>
        <p>Utilizamos suas informações para as seguintes finalidades:</p>
        <ul>
            <li><strong>Fornecer e melhorar nossos serviços</strong>: Para processar seus pedidos, responder a suas dúvidas e melhorar a experiência no nosso site.</li>
            <li><strong>Segurança e Cumprimento Legal</strong>: Para garantir a segurança de nossos usuários e cumprir com nossas obrigações legais.</li>
        </ul>

       
        <h2>3. Compartilhamento de Informações</h2>
        <p>Não vendemos ou alugamos suas informações pessoais a terceiros. Contudo, podemos compartilhar suas informações com os seguintes tipos de terceiros:</p>
        <ul>
            <li><strong>Prestadores de serviços</strong>: Para processar pagamentos, enviar newsletters, e realizar análises do site.</li>
            <li><strong>Autoridades legais</strong>: Caso seja necessário para cumprir com obrigações legais ou proteger direitos legais.</li>
            <li><strong>Parceiros de marketing</strong>: Quando você tiver consentido expressamente para receber promoções de terceiros.</li>
        </ul>

        <h2>4. Segurança das Informações</h2>
        <p>Adotamos medidas de segurança para proteger suas informações pessoais contra acessos não autorizados, alterações, divulgação ou destruição. No entanto, lembre-se de que nenhum sistema de segurança é 100% seguro, e não podemos garantir a total proteção de suas informações.</p>

        <h2>5. Seus Direitos</h2>
        <p>De acordo com a legislação de proteção de dados, você tem os seguintes direitos em relação às suas informações pessoais:</p>
        <ul>
            <li><strong>Acesso</strong>: Você pode solicitar informações sobre os dados que temos sobre você.</li>
            <li><strong>Correção</strong>: Você pode corrigir informações pessoais imprecisas ou incompletas.</li>
            <li><strong>Exclusão</strong>: Você pode solicitar a exclusão de seus dados pessoais, sujeito a certas condições.</li>
            <li><strong>Portabilidade</strong>: Você pode solicitar uma cópia dos seus dados pessoais em um formato estruturado e legível por máquina.</li>
            <li><strong>Revogação do Consentimento</strong>: Se você tiver dado consentimento para o processamento de seus dados, pode revogá-lo a qualquer momento.</li>
        </ul>
        <p>Para exercer esses direitos, entre em contato conosco através do <a href="mailto:contato@perifazenda.com">contato@perifazenda.com</a>.</p>

        <h2>6. Transferência Internacional de Dados</h2>
        <p>Podemos transferir suas informações para servidores ou provedores de serviços fora do seu país de residência, sempre garantindo que as medidas de segurança adequadas estejam em vigor.</p>

        <h2>7. Alterações na Política de Privacidade</h2>
        <p>Podemos atualizar esta Política de Privacidade de tempos em tempos. Quaisquer alterações serão publicadas nesta página, e a data de "Última Atualização" será modificada. Recomendamos que você revise regularmente esta política para se manter informado sobre como protegemos suas informações.</p>

        <h2>8. Contato</h2>
        <p>Se você tiver dúvidas ou preocupações sobre nossa Política de Privacidade, ou se desejar exercer seus direitos em relação às suas informações pessoais, entre em contato conosco:</p>
        <ul>
            <li><strong>E-mail:</strong> <a href="mailto:contato@perifazenda.com">contato@webperifazenda.com</a></li>
            <li><strong>Telefone:</strong> (11) 1234-5678</li>
        </ul>
    </article>

</body>
</html>
